<div class="text-center home">
  <h2> Welcome to Dopa-Mine, a dopamine tracker that helps you shift your focus.</h2>
  <br/>
  <p>
    Please signup or login to test the app.
  <p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
</div>
